@component('components/layout', { title: 'loginHomePage' })
  <div>
    <a href="{{ route('login') }}">Se connecter</a>
    <a href="{{ route('inscription') }}">inscription</a>
  </div>

@endcomponent
