@component('components/layout', { title: 'Login' })
  <h3>
    page de login
  </h3>
  <div class="login-container">
    <form action="#" method="post">
      <label for="user"></label>
      <input type="text" name="user" id="user" placeholder="Login" />
      <label for="password"></label>
      <input type="password" name="password" id="password" placeholder="Mot de passe" />
      <button type="submit" class="btn btn-login">Se connecter</button>
    </form>
  </div>
@endcomponent
