@component('components/layout', { title: 'loginHomePage' })
  <div>
    <a href="{{ route('login') }}">Log In</a>
    <a href="{{ route('inscription') }}">Create an Account</a>
  </div>

@endcomponent
